{% extends "form.html" %}
{% load currency %}

{% block inner_title %}
	<h1>Rediger prosjekt</h1>
{% endblock %}

{% block inner_content %}
	<form action="" method="post">
		<table class="form">
			{{ form.as_table }}
			<tr>
				<td>&nbsp;</td>
				<td>Totalbudsjett eks. mva. og reserver er for øyeblikket på kr. {{ project.calculate_budget_total|currency }}</td>
			</tr>
		</table>
		
		<input type="submit" value="Lagre" /> &nbsp; <a href="{{ project.get_absolute_url }}" class="cancel">avbryt</a>
	</form>
{% endblock %}
