{% extends "base.html" %}

{% block right %}
	<p>{{ project.title }} ({{ project.tax_rate }}% MVA)</p>
	{# <form action="/"> #}
	{# 		<select name="mode" onchange="$(this).parents('form').submit()"> #}
	{# 			<option value="change" selected="selected">Endringer</option> #}
	{# 			<option value="planned">Fakturaer</option> #}
	{# 		</select> #}
	{# 		<input type="submit" class="button" value="Vis" /> #}
	{# 	</form> #}
{% endblock %}

{% block edit_tools %}
	<a href="{{ project.new_contract_url }}" class="tool new contract">Ny kontrakt</a>
{% endblock %}

{% block content %}
	{% regroup project.contracts by category as categories %}
	<table class="overview">
		<thead>
			<tr>
				<th rowspan="2" class="">Kontrakt</th>
				<th rowspan="2" class="">Firmanavn</th>
				<th rowspan="2" class="number">Budsjett</th>
				<th rowspan="2" class="number">Kontrakt</th>

				<th colspan="2" class="center">Endringer</th>
				<th colspan="3" class="center">Totalt</th>
				<th rowspan="2" class="number">Gjenst&aring;ende</th>
				<th rowspan="2" class="">Kommentar</th>
			</tr>
			<tr>
				<th class="number">Godkjent</th>
				<th class="number">Uavklart</th>
				<th class="number">Sum</th>
				<th class="number">Fakturert</th>
				<th class="number">%</th>
			</tr>
		</thead>
		{% for cat in categories %}
			{% if cat.list %}
				<tbody>
					<tr>
						<th colspan="11">{{ cat.grouper }}</th>
					</tr>
					{% for contract in cat.list %}
						<tr class="clickable contract" onDblClick="window.location = '{{ contract.get_absolute_url }}';">
							<td>{{ contract.code }}</td>
							<td>{{ contract.company }}</td>
							<td class="number">{{ contract.budget }}</td>
							<td class="number">{{ contract.amount }}</td>
							<td class="number">{{ contract.total_changes.accepted.amount|default:"0" }}</td>
							<td class="number">{{ contract.total_changes.pending.amount|default:"0" }}</td>
							<td class="number">{{ contract.total_sum|default:"0" }}</td>
							<td class="number">{{ contract.total_invoices|default:"0" }}</td>
							<td class="number">{{ contract.total_percent|stringformat:".1f" }}&nbsp;%</td>
							<td class="number">{{ contract.total_remaining|default:"0" }}</td>
							<td>{{ contract.comment }}</td>
						</tr>
					{% endfor %}
				</tbody>		
			{% endif %}
		{% endfor %}
		
	</table>
{% endblock %}


