{% extends "base.html" %}
{% load currency %}

{% block edit_tools %}
	<a href="{{ project.get_edit_url }}" class="tool edit project">Rediger prosjektinfo</a>
	<a href="javascript:openReportDialog()" onclick="openReportDialog();return false;" class="tool generate report">Generér rapport</a>
	<a href="{{ project.new_contract_url }}" class="tool new contract">Ny kontrakt</a>
{% endblock %}

{% block content %}
	<table class="overview grid">
		<thead>
			<tr>
				<th rowspan="2" class="">Kontrakt</th>
				<th rowspan="2" class="">Firmanavn</th>
				<th rowspan="2" class="number">Budsjett</th>
				<th rowspan="2" class="number">Kontrakt</th>

				<th colspan="2" class="center">Endringer</th>
				<th colspan="3" class="center">Totalt</th>
				<th rowspan="2" class="number">Gjenst&aring;ende</th>
				<th rowspan="2" class="">Kommentar</th>
			</tr>
			<tr>
				<th class="number">Godkjent</th>
				<th class="number">Uavklart</th>
				<th class="number">Sum</th>
				<th class="number">Fakturert</th>
				<th class="number">%</th>
			</tr>
		</thead>
		{% for category in categories %}
			{% if category.contracts %}
				<tbody>
					<tr>
						<th colspan="11">{{ category.title }}</th>
					</tr>
					{% for contract in category.contracts %}
						<tr class="clickable contract" onDblClick="window.location = '{{ contract.get_absolute_url }}';">
							<td>{{ contract.code }}</td>
							<td>{{ contract.company }}</td>
							<td class="number">{{ contract.budget|currency }}</td>
							<td class="number">{{ contract.amount|currency }}</td>
							<td class="number">{{ contract.total_changes.accepted.amount|currency }}</td>
							<td class="number">{{ contract.total_changes.pending.amount|currency }}</td>
							<td class="number">{{ contract.total_sum|currency }}</td>
							<td class="number">{{ contract.total_invoices|currency }}</td>
							<td class="number">{{ contract.total_percent|currency:1 }}&nbsp;%</td>
							<td class="number">{{ contract.total_remaining|currency }}</td>
							<td>{{ contract.comment }}</td>
						</tr>
					{% endfor %}
				</tbody>		
			{% endif %}
		{% endfor %}
		
	</table>
	<div id="reportDialog" style="display: none;" title="Opprett rapport">
		<form action="{% url report project.number %}" method="get" id="reportform">
			<table class="form">
				<tr>
					<th>Rapportmal:</th>
					<td>
						<select name="type" id="">
							<option value="" selected="selected">Per prosjekt</option>
							<option value="ns">Bygningsdelstabell</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Fra dato:</th>
					<td>
						<span class="floatingcheckbox">
							<input type="checkbox" name="from_date_on" onclick="toggleEnabled('#from_date', this)" />
						</span>
						<span class="floatingdatebox">
							<input class="datepicke disabled" type="text" name="from_date" value="" id="from_date" disabled="disabled" />
						</span>
					</td>
				</tr>
				<tr>
					<th>Til dato:</th>
					<td>
						<span class="floatingcheckbox">
							<input type="checkbox" name="to_date_on" onclick="toggleEnabled('#to_date', this)" />
						</span>
						<span class="floatingdatebox">
							<input class="datepicke disabled" type="text" name="to_date" value="" id="to_date" disabled="disabled" />
						</span>
					</td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}
{% block extra_headers %}
	<script type="text/javascript">
	<!--
		var openReportDialog = function() {
			$("#reportDialog").dialog({
				modal: true,
				resizable: false,
				dialogClass: "generate report",
				buttons: {
					"Opprett": function(){
						$("#reportform").submit();
					},
					// "Avbryt": function(){
					// 	$(this).dialog("close");
					// },
				}
			});
		}
	// -->
	</script>
{% endblock %}


