/* @override 
	http://localhost/static/css/master.css
	http://static/css/master.css
	http://localhost:8000/static/css/master.css
*/

/*@import "jquery-ui.css";*/


body {
	background: #eee;
	font-size: 75%;
	color: #333;
	margin: 0;
}
body, textarea, a.filter {
	font-family: Verdana;
	color: #333;
	text-decoration: none;
}
a {
	outline: none;
}
:focus {
	-moz-outline-style: none;
}

h1 {
	font-size: 1.4em;
	font-weight: normal;
	margin: .5em 0;
}

.form {
	padding: 0 1em;
}

#toolbar {
	height: 28px;
	background: #bbb;
	border: solid #999;
	border-width: 2px 0;
	padding: 0 5px;
	overflow: hidden;
}
#toolbar .section {
	padding: 0 .5em;
	float: left;
	border-right: 1px solid #999;
}

#toolbar a.tool {
	display: block;
	float: left;
	padding-right: .5em;
	margin-left: .5em;
	padding-top: 6px;
	padding-bottom: 3px;
	color: #555;
}
#toolbar a.tool:hover {
	color: #111;
}
#toolbar .right .tool {
	padding-right: 0;
}

#toolbar .right {
	float: right;
	padding: 4px 1em;
}
/*#toolbar .right.nopad {
	padding: 0 1em;
}*/

#toolbar .right .tool {
	/*padding-top: 0;*/
	margin-top: -4px;
}
#toolbar .right .project.title {
	position: relative;
	top: 3px;
}

#project_info .field {
	float: left;
	margin-right: 1em;
	padding: 0;
}
#project_info .field label {
	display: inline;
}


.inner {
	margin: 1em;
	background: #ddd;
	border: 1px solid #999;
}
.inner, .inner .pad {
	padding: .5em 1em;
}
.inner.nopad {
	padding: 0;
}

table.inner {
	padding: 0;
	background: none;
}

table.overview {
	width: 100%;
}

tr.clickable:hover {
	background: #fff;
}

p.back {
	margin-top: 2em;
}

p.links a {
	display: block;
	float: left;
	margin-right: 2em;
	/*font-size: .9em;*/
	padding-top: 7px;
	padding-left: 25px;
}

a {
	color: #007f84;
}
a.cancel.text, .small {
	font-size: .8em;
}
a.cancel.text {
	color: #999;
}
a.cancel:hover {
	color: #333;
}

.tools a {
	display: block;
	float: left;
}

a.tool, a.add, a.edit, a.delete, a.save, a.home, a.print, a.cancel.icon {
	background: no-repeat left center;
	/*color: #333;*/
	text-decoration: none;
	padding: 3px 0;
	padding-left: 24px;
	min-height: 20px;
	cursor: default;
}

th.tools, td.tools {
	text-align: left;
	border-width: 0 0 0 1px !important;
	width: 70px;
}
td.tools div {
	width: 70px;
}
th.tools div, td.tools div {
	width: 70px;
}

tr.budget_sums {
	font-weight: normal;
	font-size: .9em;
	color: #777;
}

tr.sumrow {
	font-weight: bold;
}

th a.filter {
	display: block;
	/*min-height: 13px;*/
}

th .filter_wrapper {
	position: relative;
}
th .filter {
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 10px;
	width: 150px;
	/*height: 200px;*/
	text-align: left;
	background: #cdcdcd;
	opacity: .7;
	filter: alpha(opacity=70);
	border: 1px solid #999;
}

a.filterlink {
	/*display: block;*/
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(/static/images/icons/filter_off.gif);
}
a.filterlink.on {
	background-image: url(/static/images/icons/filter_on.gif);
}

.checkboxlist {
	margin-bottom: .5em;
}
.checkboxlist label {
	display: block;
	margin: .3em 0;
}

#toolbar #flash {
	float: left;
	margin: 5px .5em;
	position: relative;
	width: 150px;
}

#flash .type, th .filter {
	padding: 1px 5px;
	border: 1px solid #667799;
	color: #334466;
	margin: 0;
	
	/*position: absolute;
	left: 0;
	top: 0;*/
}
#flash .type {
	background-color: #ccddee;
}
#flash .type .close, th .filter .close {
	display: block;
	width: 10px;
	height: 10px;
	float: right;
	margin: 2px;
	margin-right: -2px;
	background: url(/static/images/icons/close.png);
	/*opacity: .7;*/
	cursor: default;
}

#flash .success {
	border: 1px solid #009900;
	background: #ccffcc;
	color: #006600;
}

#flash .error {
	border: 1px solid #990000;
	background: #ffcccc;
	color: #660000;
}

table {
	border-collapse: collapse;
}
table.overview {
	min-width: 1000px;
}

table td, table th {
	padding: .3em .5em;
	border: 1px solid #bbb;
	text-align: left;
}

tbody.tablesection {
	margin: 15px 0;
}

tr.space td {
	padding: 0;
	border: none;
}

tbody.total {
	font-weight: bold;
}

.budget_sums td {
	border: none !important;
}

tbody#total {
	border: 2px solid #555;
}
/*tbody#total td.last {
	border-right: 2px solid #555;
}*/

tbody.total td {
	border: none;
	padding: .2em .5em;
}
tbody.total tr.sum {
	border-top: 1px solid #777;
}

tr.total td {
	border-top: 1px solid #777;
	border-bottom: 3px double #777;
}

td.number, th.number {
	text-align: right;
}

table.form td, table.form th {
	border: none;
}
table.form th {
	vertical-align: top;
	padding: .5em 0;
	font-weight: normal;
}
table.form label {
}


.ui-tabs .ui-tabs-hide {
     display: none;
}
.tabs ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.clearer {
	clear: both;
}

.printonly {
	visibility: hidden;
	position: absolute;
}

/*Utskriftskonfigurasjon*/
@media print {

.printonly {
	visibility: visible;
	position: static;
}

#logo {
	float: right;
	margin-bottom: 1em;
	width: 100px;
	height: 33px;
	background: url(/static/images/logo.gif) no-repeat;
}

#print_title {
	margin-bottom: 2em;
	font-weight: bold;
}
#print_title .project_title {
	font-size: 1.2em;
}

#print_title p {
	margin: .4em 0;
}

body {
	color: #000;
	background: #fff;
	font-family: Arial, verdana, sans-serif;
}

.toolbox, .tools {
	display: none;
}

#toolbar {
	display: none;
}

.filter {
	display: none !important;
}

a.filterlink, a.filterlink.on {
	padding: 0;
	background: none;
	color: #000;
	text-decoration: none;
}
a.filterlink.on {
	color: #006;
}
	
}
