{% if changes %}
	<table class="invoices inner grid">
		{% include "change/table_headers.html" %}
		{% for change in changes %}
			<tr>
				<td class="number">{{ change.number }}</td>
				<td class="bool">{{ change.invoiced|yesno:"Ja,Nei,Uvisst" }}</td>
				<td>{{ change.description }}</td>
				<td>{{ change.comment }}</td>
				<td>{{ change.status.latest.id }}: {{ change.status.latest.title }}</td>
				<td>{{ change.status.date }}</td>
				<td class="number">{{ change.timediff }} dager</td>
				<td class="number">{{ change.amount_accepted }}</td>
				<td class="number">{{ change.amount_pending }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<div class="inner">
		<p>Ingen endringer registrert. <a href="{{ contract.get_absolute_url }}change/new/">Registrer ny endring.</a></p>
	</div>
{% endif %}