<tr id="change_{{ change.id }}" class="clickable contract" onDblClick="window.location = '{{ change.get_edit_url }}';">
	<td class="number">{{ change.number }}</td>
	<td class="bool">{{ change.invoiced|yesno:"Ja,Nei,Uvisst" }}</td>
	<td>{{ change.description }}</td>
	<td>{{ change.comment }}</td>
	<td>{{ change.status }}</td>
	<td class="number">{{ change.status_date.date|date }}</td>
	<td class="number">{{ change.timediff }} dager</td>
	<td class="number">{{ change.amount_accepted }}</td>
	<td class="number">{{ change.amount_pending }}</td>
</tr>