{% extends "change/base.html" %}

{% block inner_title %}
	{{ change.contract }}: EA{{ change.number }}
{% endblock %}

{% block inner_content %}

	<table class="form">
		<tr>
			<th>Kontrakt:</th>
			<td>{{ change.contract }}</td>
		</tr>
		<tr>
			<th>Endringsnummer:</th>
			<td>{{ change.number }}</td>
		</tr>
		<tr>
			<th>Fakturert?</th>
			<td>{{ change.invoiced|yesno:"Ja,Nei" }}</td>
		</tr>
		<tr>
			<th>Status:</th>
			<td>{{ change.status }}</td>
		</tr>
		<tr>
			<th>Beskrivelse:</th>
			<td>{{ change.description }}</td>
		</tr>
		<tr>
			<th>Tidskrav:</th>
			<td>{{ change.timediff|default:"Ingen" }} dager</td>
		</tr>
	</table>

	<p>
		<a href="{{ change.contract.get_absolute_url }}">&laquo; Tilbake til {{ change.contract }}</a> | 
		<a href="{{ change.get_edit_url }}">Redigér endring</a>
	</p>
	
{% endblock %}
