<tr>
	<th rowspan="2" class="number">
		<a href="?csortby={% ifequal csortby 'number' %}-{% endifequal %}number#changes">Nummer</a>
	</th>
	<th rowspan="2" class="">
		<a href="?csortby={% ifequal csortby 'invoiced' %}-{% endifequal %}invoiced#changes">Fakturert?</a>
	</th>
	<th rowspan="2" class="">
		<a href="?csortby={% ifequal csortby 'description' %}-{% endifequal %}description#changes">Beskrivelse</a>
	</th>
	<th rowspan="2" class="">
		<a href="?csortby={% ifequal csortby 'comment' %}-{% endifequal %}comment#changes">Kommentar</a>
	</th>
	<th rowspan="2" class="">
		<a href="?csortby={% ifequal csortby 'status' %}-{% endifequal %}status#changes">Status</a>
	</th>
	{% if not quickedit %}
		<th rowspan="2" class="number">Dato for status</th>
	{% endif %}
	<th rowspan="2" class="number">
		<a href="?csortby={% ifequal csortby 'timediff' %}-{% endifequal %}timediff#changes">Tidskrav</a>
	</th>
	<th colspan="2" class="center">
		<a href="?csortby={% ifequal csortby 'amount' %}-{% endifequal %}amount#changes">Endringer</a>
	</th>
</tr>
<tr>
	<th class="number">Godkjente</th>
	<th class="number">Uavklarte</th>
</tr>