<tr>
	{% if not contract %}
		<th rowspan="2" class="">Kontrakt</th>
	{% endif %}
	<th rowspan="2" class="number">Nummer</th>
	<th rowspan="2" class="">Fakturert?</th>
	<th rowspan="2" class="">Beskrivelse</th>
	<th rowspan="2" class="">Kommentar</th>
	<th rowspan="2" class="">Status</th>
	{% if not quickedit %}<th rowspan="2" class="number">Dato for status</th>{% endif %}
	<th rowspan="2" class="number">Tidskrav</th>
	<th colspan="2" class="center">Endringer</th>
</tr>
<tr>
	<th class="number">Godkjente</th>
	<th class="number">Uavklarte</th>
</tr>