{% extends "base.html" %}

{% block help %}
	
{% endblock %}

{% block inner_content %}
	
	{% if form.errors %}
		<div class="errors">
			<ul>
				{% for error in form.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	
	<form action="" method="post">
		<input type="hidden" name="project_id" value="{{ project.id }}" />
		
		<table class="form">
			{{ form.as_table }}
		</table>
		
		<input type="submit" value="Lagre" /> &nbsp; <a href="{{ project.get_absolute_url }}" class="cancel">avbryt</a>
	</form>
{% endblock %}

