
<div id="tabs" class="tabarea inner">
	<ul class="tabs">
		<li class="tab changes" title="Fakturaer"><a href="#changes">Endringer</a></li>
		<li class="tab changes" title="Endringer"><a href="#invoices">Fakturaer</a></li>
	</ul>
	
	<div class="tabcontent">
		<div id="invoices">
			{% if contract.get_invoices %}
				{% include "invoice/newlink.html" %}
				<table class="invoices grid">
					{% include "invoice/table_headers.html" %}
					{% for invoice in contract.get_invoices %}
						{% include "invoice/row.html" %}
					{% endfor %}
					<tr class="sumrow">
						<td colspan="4">Totalt</td>
						<td class="number">{{ contract.total_invoices|default:"0" }}</td>
					</tr>
				</table>
			{% endif %}
			<div class="{% if not contract.get_invoices %}inner{% endif %}">
				{% include "invoice/newlink.html" %}
			</div>
		</div>
		<div id="changes">
			<p class="tools {% if not contract.get_changes %}inner{% endif %}">
				<a class="icon new change" href="{{ contract.new_change_url }}">Registrer ny endring</a>
				{% if contract.get_changes %}
					{% if quickedit %}
						<a class="icon doneediting" href="{{ contract.get_absolute_url }}#changes">Avslutt hurtigredigering</a>
					{% else %}
						<a class="icon edit change" href="?quickedit#changes">Hurtigredigering</a>
					{% endif %}
				{% endif %}
				<div class="clearer"></div>
			</p>
			{% if contract.get_changes %}
				<table class="invoices grid">
					{% include "change/table_headers.html" %}
					{% for change in contract.get_changes %}
						{% if quickedit %}
							{% include "change/row_quickedit.html" %}
						{% else %}
							{% include "change/row.html" %}
						{% endif %}
					{% endfor %}
					{% if not quickedit %}
						<tr class="sumrow">
							<td colspan="6">Totalt</td>
							<td class="number">{{ contract.total_changes.timediff|default:"0" }} dager</td>
							<td class="number">{{ contract.total_accepted_changes.amount|default:"0" }}</td>
							<td class="number">{{ contract.total_pending_changes.amount|default:"0" }}</td>
						</tr>
					{% endif %}
				</table>
				<p class="tools">
					<a class="icon new change" href="{{ contract.new_change_url }}">Registrer ny endring</a>
					{% if quickedit %}
						<a class="icon doneediting" href="{{ contract.get_absolute_url }}#changes">Avslutt hurtigredigering</a>
					{% endif %}
				</p>
			{% endif %}
			
		</div>
	</div>
</div>